<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="projectDB" connectionString="Data Source=C:/Proiect MPP/project.db"/>
	</connectionStrings>
	<appSettings>
		<add key="LogFilePath" value="C:\Proiect MPP\SharedProjectLog.log"/>
		<add key="LogTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level:u4}] {SourceContext} - {Message:lj}{NewLine}{Exception}"/>
	</appSettings>
</configuration>